<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
    <title>Hello, world!</title>
</head>
<body>
<div class="container" id="wrapper">
    <div class="">
        <form class="form-totp-login" action="#" th:action="@{/account/login}" method="post">
            <div class="text-center"><img class="mb-4" src="../static/images/bootstrap-solid.svg" th:src="@{/images/bootstrap-solid.svg}" alt="" width="72" height="72"></div>
            <div class="form-group">
                <label for="totp_code">Authentication Code</label>
                <input type="password" th:field="*{totp_code}" class="form-control" id="totp_code" name="totp_code" placeholder="Verify Authentication Code">
                <span th:if="${loginError}" class="text-danger help-block" >Wrong Authentication Code</span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Sign In</button>
            </div>
        </form>
    </div>
</div>